Repository UFBank/backend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, test_unit, test_e2e, lint, security_scan

install_dependencies:
  stage: install
  image: node:${NODE_VERSION}-alpine
  script:
  - npm ci --cache .npm --prefer-offline
  artifacts:
    paths:
    - node_modules/
    expire_in: 1 hour

test_unit:
  stage: test
  image: node:${NODE_VERSION}-alpine
  dependencies:
  - install_dependencies
  script:
  - npm run test
  coverage: /Lines\s*:\s*(\d+\.\d+)%/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml
    paths:
    - coverage/
  ...

test_e2e:
  stage: test
  image: node:${NODE_VERSION}-alpine
  dependencies:
  - install_dependencies
  script:
  - npm run test:e2e
  artifacts:
    paths:
    - test-results/
    expire_in: 1 week

lint:
  stage: test
  image: node:${NODE_VERSION}-alpine
  dependencies:
  - install_dependencies
  script:
  - npm run lint

security_scan:
  stage: test
  image: node:${NODE_VERSION}-alpine
  dependencies:
  - install_dependencies
  script:
  - npm audit --audit-level moderate
  allow_failure: true

feat: reorganize project structure and setup basic infrastructure
  README.md
  docs/README.md
  docs/clean-architecture.md
  docs/gitlab-ci.md
  docs/kubernetes.md
  infra/.gitlab-ci.yml
  infra/.gitlab/merge_request_templates/default.md
  infra/k8s/configmap.yaml
  infra/k8s/deployment.yaml
  infra/k8s/ingress.yaml
  infra/k8s/kustomization.yaml
  infra/k8s/namespace.yaml
  infra/k8s/service.yaml
  k8s/README.md
  package-lock.json
  package.json
  src/main.ts
Due: install_dependencies, test_unit, test_e2e, lint, security_scan

fix: move .gitlab-ci.yml to project root
  .gitlab-ci.yml
Due: none

fix: install @nestjs/cli in GitLab CI pipeline
  .gitlab-ci.yml
Due: none

fix: install dependencies in build_app job
  infra/.gitlab-ci.yml
Due: none

feat: module example clean artch
  src/app.module.ts
  src/modules/example/README.md
  src/modules/example/application/dtos/user-response.dto.ts
  src/modules/example/application/use-cases/get-user.use-case.ts
  src/modules/example/domain/entities/user.entity.ts
  src/modules/example/domain/repositories/user.repository.interface.ts
  src/modules/example/example.module.ts
  src/modules/example/infrastructure/repositories/user.repository.ts
  src/modules/example/presentation/controllers/example.controller.spec.ts
  src/modules/example/presentation/controllers/example.controller.ts
Due: test_unit, test_e2e, lint

fix: ajust pipline
  src/main.ts
  src/modules/example/application/dtos/user-response.dto.ts
  src/modules/example/application/use-cases/get-user.use-case.ts
  src/modules/example/domain/entities/user.entity.ts
  src/modules/example/domain/repositories/user.repository.interface.ts
  src/modules/example/example.module.ts
  src/modules/example/infrastructure/repositories/user.repository.ts
  src/modules/example/presentation/controllers/example.controller.spec.ts
  src/modules/example/presentation/controllers/example.controller.ts
  test/app.e2e-spec.ts
Due: test_unit, test_e2e, lint

fix: ajust pip 2
  test/app.e2e-spec.ts
Due: test_unit, test_e2e, lint

feat : add apiHelthCheck
  src/app.module.ts
  src/modules/healthcheck/application/dtos/healthcheck-request.dto.ts
  src/modules/healthcheck/application/use-cases/process-healthcheck.use-case.ts
  src/modules/healthcheck/domain/entities/healthcheck.entity.ts
  src/modules/healthcheck/domain/repositories/healthcheck.repository.interface.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/healthcheck/infrastructure/repositories/healthcheck.repository.ts
  src/modules/healthcheck/presentation/controllers/healthcheck.controller.ts
Due: test_unit, test_e2e, lint

feat:Adds Client entity and repository interface
  eslint.config.mjs
  src/customers/domain/entities/customers.entity.ts
  src/customers/domain/repositories/customer.repository.interface.ts
Due: test_unit, test_e2e, lint

feat:Implements CustomerRepository with mocked CRUD operations
  src/customers/domain/entities/customers.entity.ts
  src/customers/infrastructure/repositories/customer.repository.ts
Due: test_unit, test_e2e, lint

feat: adds creation, update and response DTOs with validations
  package-lock.json
  package.json
  src/customers/application/dtos/create-customer.dto.ts
  src/customers/application/dtos/customer-response.dto.ts
  src/customers/application/dtos/update.customer.dto.ts
Due: install_dependencies, test_unit, test_e2e, lint, security_scan

feat: implement implements CRUD use cases for customers
  src/customers/application/use-cases/create-customer.use-case.ts
  src/customers/application/use-cases/delete-customer.use-case.ts
  src/customers/application/use-cases/get-customer.use-case.ts
  src/customers/application/use-cases/update-customer.use-case.ts
Due: test_unit, test_e2e, lint

feat: creates ClientController with REST routes and integration of use cases
  src/customers/presentation/controllers/customer.controller.ts
Due: test_unit, test_e2e, lint

feat: adds ClientsModule with dependency injection configured
  src/customers/presentation/Customers.module.ts
Due: test_unit, test_e2e, lint

feat: update
  src/app.module.ts
  src/customers/application/dtos/create-customer.dto.ts
  src/customers/application/dtos/customer-response.dto.ts
  src/customers/application/dtos/update.customer.dto.ts
  src/customers/application/use-cases/create-customer.use-case.ts
  src/customers/application/use-cases/get-customer.use-case.ts
  src/customers/application/use-cases/update-customer.use-case.ts
  src/customers/domain/entities/customers.entity.ts
Due: test_unit, test_e2e, lint

Initial commit
  README.md
Due: none

Enhance README with project overview and structure
  README.md
Due: none

move prisma para @libs e ajustar .gitignore
  .gitignore
  @libs/prisma/schema.prisma
  package-lock.json
  package.json
  prisma.config.ts
  tsconfig.json
Due: install_dependencies, test_unit, test_e2e, security_scan

feat: add docker postgres
  docker-compose.yml
  env.example
Due: none

feat: add readme
  README.md
Due: none

Path conditions:
  install_dependencies: any of: package*.json
  test_unit: any of: src/**/*.ts, test/**/*.ts, package*.json
  test_e2e: any of: src/**/*.ts, test/**/*.ts, package*.json
  lint: any of: src/**/*.ts, test/**/*.ts
  security_scan: any of: package*.json
